{%extends 'all-images/base.html'%} {% block content %}
<body>
    <div class="container-fluid" style=" background-color: #FCFCFC; height: 375px;">
        <h1 class='text-center shadow-lg bg-body text-primary' style="font-size:48px; border:solid 3px; border-radius: 15px; margin-top:150px; padding:30px;margin-left: 200px;margin-right: 200px;  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(39, 2, 243, 0.40)); transition: 0.5s;">Welcome to Sir Felix Booth.</h1>
    </div>
</body>
{% endblock %}