{% extends 'all-images/base.html' %}
{% block content %}

<hr class="text-dark"> 
<div class="container">
    <div class="row">
        {% if Images %}
        <h4 class="text-center text-primary">Found {{ Images|length }} photo in <em> <b>{{message}}</b> </em>Categeory.</h4>
        <hr class="text-dark" > 
        {% else %}
        <h2 class="text-center"> Found 0 photo for the search term {{message}}</h2>
        {% endif %}
    </div>

    <div class="row">
    {% if Images %}
      <div class="card-columns">
         {% for image in Images %}
        <div class="image text-light">
              <div class="">
                 <img src="{{image.image.url}}" alt="" height="500" width="420" class="img-responsive card-img-top" />
              </div>
            <div class="overlay text-center">
                <h3 class="fw-bold">{{image.image_name}}</h3>
                <hr class="text-light">
                
                <h5 class=""> Location: {{image.location}}</h5>
                {% for categ in image.category.all %}
                <h5> <strong> Category:</strong>  {{categ.category_name }}</h5>
                {% endfor %}
                <br>
                <p class=""> <b>Abouts:</b> <br> {{image.image_descriptions}}</p>
                <h6 class="">Posted on:  <em> {{image.post_date|date:"d, F Y"}}</em></h6>
                <hr class="text-light">
                <input type="text" id="imagelink" class="form-control input-sm text-light bg-transparent" value="https://sirfelix-gallery.herokuapp.com{{image.image.url}}"
                class="hidden">    
                <br>
                <div class="top">
                    <button type="" class="btn btn-outline-transparent"> <a class="btn btn-custom btn-sm fs-3 text-primary fw-bold" rel="gallery" href="{{image.image.url}}">View</a> </button>
                    <button class="btn btn-outline-transparent btn-lg text-primary fs-3 fw-bold" onclick="CopyFunction()">Link</button>       
                </div>
            </div>
            <br>
        </div> 
        {% endfor %} 
    </div>
    {% endif %}
</div>
<hr class="text-dark"> 
<br>
<script>
    function CopyFunction() {
        let copyText = document.getElementById("imagelink");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
{% endblock %}