{% extends 'base.html' %}
{% block content %}
{{ block.super}}
<script>
    function CopyFunction() {
        let copyText = document.getElementById("imagelink");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
<section id="search">
    <div class="container">
        <div class="row">
            {% if Images %}
            <h2 class="text-center">
                Found {{ Images|length }} of searched term {{message}}
            </h2>
            {% else %}
            <h2 class="text-center">Found 0 Photos for the search term {{message}}</h2>
            {% endif %}
        </div>
        <div class="row">

            {% for Image in Images %}
            <div class="col-md-3 single_portfolio_text">
                 <img src="{{Image.image.url}}" alt="" class="img-responsive" /> 

                <div class="portfolio_images_overlay text-center">
                    <h3 class="text-white">{{Image.image_name}}</h3>
                    <h5 class="text-white">Location: {{Image.location_name}}</h5>
                    <hr>

                    <p class="text-white">{{Image.image_descriptions}}</p>
{% comment %} 
                    <input type="text" id="imagelink" class="form-control input-sm"
                        value="https://my-memoirs.herokuapp.com{{Image.image.url}}" class="hidden">
                    <div class="top"> {% endcomment %}
                        <button class="btn btn-success" onclick="CopyFunction()">Copy Link</button>

                        <a class="fancybox btn btn-custom" rel="gallery" href="{{Image.image.url}}">View Image</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}